html, body{
  padding: 0px;
  margin: 0px;
  font-size: 24px;
  font-family: Helvetica;
}

.main_Section{
    width: 1100px;
    text-align: center;
}


.channels{
  padding: 70px;
  display: flex;
  height: 300px;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
}


.content-channels{
  padding: 1px;
  margin: 10px;
  display: flex;
  box-shadow: 0 0px 1px 1px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  height: 400px;
}

.content-channel{
  background-color: rgb(255, 255, 255);
  padding: 35px;
  /* margin: auto; */
}

/* .content-channel + .content-channel {
  margin-left: 2rem;
} */

.content-image{
  padding: 5px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
}

.main-button{
  background-color:#004e91;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.main-button:hover{
  background: #278615db;
}
