<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Receptores</title>
    <link rel="stylesheet" href="../static/css/stylesdispositivos.css">

  </head>
  <body>
    <div class="main-seccion">
      <h1>Receptores de video</h1>
    </div>

    <div class="receptors">

      <div class="content-receptors">
          <div class="content-receptor">
            <h3>Rpi-1</h3>
            <div class="content-image">
              <img src="../static/images/rpi.jpg" alt="video-Receptor">
            </div>
            <h3>Caracteristicas</h3>
          </div>
      </div>

      <div class="content-receptors">
          <div class="content-receptor">
            <h3>Rpi-2</h3>
            <div class="content-image">
              <img src="../static/images/rpi.jpg" alt="video-Receptor">
            </div>
            <h3>Caracteristicas</h3>
          </div>
      </div>

    </div>

  </body>
</html>
